apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ template "fullname" . }}
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  name: {{ template "fullname" . }}
  kind: ClusterRole
subjects:
  - apiGroup: ""
    name: {{ template "fullname" . }}
    kind: ServiceAccount
    namespace: {{ .Release.Namespace }}

# This allows a service account in the Release's namespace (i.e. default) to manage resources in the kube-system namespace
