apiVersion: v1
kind: Service
metadata:
  name: "{{ .Chart.Name }}"
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    app: "{{ .Chart.Name }}"
spec:
  ports:
  - port: 80
    targetPort: {{ .Values.reverseProxy.port }}
    protocol: TCP
  selector:
    app: "{{ .Chart.Name }}"
  sessionAffinity: ClientIP
