Username: ""

aws:
  iamRole: ""
  defaultRegion: "eu-west-1"

service:
  port: 80

authProxy:
  image: quay.io/mojanalytics/auth-proxy
  tag: v0.1.4
  imagePullPolicy: IfNotPresent
  containerPort: 3000
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 25m
      memory: 64Mi
  auth0_domain: ""
  auth0_client_id: ""
  cookie_maxage: 36000 #10 hours

jupyter:
  image: quay.io/mojanalytics/datascience-notebook
  tag: v0.3.3
  imagePullPolicy: IfNotPresent
  containerPort: 8888
  resources:
    limits:
      cpu: 1.5
      memory: 12Gi
    requests:
      cpu: 200m
      memory: 1Gi

cookie_secret: ""
